body {
  margin: 0;
  color: #1976D2;
  font-family: Georgia, Times New Roman, serif;
}


/* Style the side navigation */
.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #64B5F6;
  overflow-x: hidden;
}


/* Side navigation links */
.sidenav a {
  color: #1976D2;
  padding: 16px;
  text-decoration: none;
  display: block;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: #B3E5FC;
  color: white;
}

/* Style the content */
.content {
  margin-left: 200px;
  padding-left: 20px;
}

